<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Lato" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <ul>
                <li><img class="headerimg" src="~/img/bearWink.png" /></li>
                <li class="title">
                    <h1>Weight</h1>
                    <h1>Tracker</h1>
                </li>
            </ul>
            
        </div>

    </header>
    <main class="container body-content">
        @RenderBody()
    </main>
    <hr />

    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year Weight Tracker.  All Rights Reserved.</p>
            <address>
                Weight Tracker<br />
                Louisville, KY<br />
                <abbr title="Phone">P:</abbr>
                800-TRACKER
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </footer>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
